@model RecipeKeywordViewModel

@{
    ViewData["Title"] = "Index";
    var orderedModel = Model.Recipes.OrderBy(recipe => recipe.name);
    string SString = Model.SearchString;
}

<form asp-controller="Recipe" asp-action="Index">
    <p>
        Keyword: <select asp-for="Keyword" asp-items="Model.Keywords" >
            <option value="">All</option>
        </select>&nbsp;
        Contained in name: <input type="text" name="SearchString" value=@SString>&nbsp;<label>Include untested recipes</label>
        @Html.CheckBox("IncludeUntested")
        <input type="submit" value="Search" />
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>


<h3>Contents</h3>

<table class="table">
    <tbody>
        @foreach (var item in orderedModel)
        {
            <tr>
                <td>
                    <img src="@WebMVCLaptop.Models.Recipe.GetImage((int)item.rating)" height="42" width="42" />
                    @Html.ActionLink(item.name, "Details", new { id = item.id }, new { @class = "largetext" })
                </td>
                <td>
                    @{
                        string link = "/" + Url.ActionContext.RouteData.Values["controller"] + "/Details/" + item.id;
                        <a href="@link"><img onerror="this.style.display='none'" src="@Url.Content("/images/" + item.image)" alt="@Html.DisplayFor(modelItem => item.name)" class="img-thumbnail" height="84" width="84" /></a>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </tbody>
</table>
